/* Default */
img{
    width: 800px;
    height: 300px;
}

body{
    height: 55vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

#gallery{
    width: 800px;
    height: 300px;

    overflow: hidden;
}

#gallery > div{
    display: none;

    width: 800px;
    height: 300px;

    position: relative;
    color: white;
    text-align: right;
}
#gallery .active{
    display: block;
}

#gallery img{
    object-fit: cover;
    object-position: center;

    width: 800px;
    height: 300px;
}

#gallery .caption{
    position: absolute; 
    bottom: 1rem;
    right: 10px;
    width: 50%;
    padding: 8px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.6);
}

#thumbs{
    position: relative;

    width: 200px;
    height: 300px;

    display: flex;
    flex-direction: column;
}

#thumbs img{
    position: relative;

    object-fit: cover;
    object-position: center;

    width: 200px;
    height: calc(100% / 3);

    overflow: hidden;

    filter: blur(1px) brightness(.5);
}
#thumbs .active{
    filter: none;
    border: inset 2px white;
}

button{
    position: absolute;
    left: 50%;
    translate: calc(-50% - 5px);

    width: 20px;
    height: 20px;

    margin: 10px;

    border-radius: 50%;
    border: 1px solid snow;

    display: flex;
    justify-content: center;
    align-items: center;
}
#input-up{
    top: 0px;
}
#input-down{
    bottom: 0px;
}